{% extends 'base.html.twig' %}

{% block title %}Pagos{% endblock %}

{% block body %}
    <h1>Pagos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pago.id }}</td>
            </tr>
            <tr>
                <th>Monto</th>
                <td>{{ pago.monto }}</td>
            </tr>
            <tr>
                <th>Fecha_pago</th>
                <td>{{ pago.fechaPago ? pago.fechaPago|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Metodo_pago</th>
                <td>{{ pago.metodoPago }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pagos_index') }}">back to list</a>

    <a href="{{ path('app_pagos_edit', {'id': pago.id}) }}">edit</a>

    {{ include('pagos/_delete_form.html.twig') }}
{% endblock %}
